$menuBackground: #F5F7F8;
$borderColor: #E9EEF2;
$sortBackground: #F7F9FA;
$pageBackground: #F9F9F9;
$searchInputText: #BCC5CC;
$blueButtonColor: #1B3ED5;
$greyText: #9B9B9B;
$roleColor: #37B877;
$redColor: #FA675C;
$tableHeader: #BCC5CC;

$whiteColor: #fff;
$blackColor: #000;