.v2-wrapper {
  display: flex;
  height: 100%;
}
.v2-filter {
  flex-shrink: 0;
  width: 260pq
  height: 100%;
  border-left: 1px solid #d8e0e6;
}

.v2-content {
  flex-grow: 1;
  position: relative;
  z-index: 1;
  overflow: auto;
  border-left: 1px solid #d8e0e6;
  border-right: 1px solid #d8e0e6;
}
.v2-details {
  flex-shrink: 0;
  width: 455px;
  height: 100%;
}
