.pagination {
  display: flex;
  justify-content: center;
  &__button {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 10px;
    height: 30px;
    width: 30px;
    border-radius: 100%;
    border: 1px solid black;
    cursor: pointer;
    &.active {
      background-color: #ccc;
    }
  }

}
